* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f5f8;
  color: #222;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 2.5rem auto;
  display: grid;
  gap: 2rem;
}

.book {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.book h4 {
  margin-top: 0.5rem;
}

.book h5 {
  margin-top: 0.2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }

  .book h4 {
    margin-top: 0.5rem;
  }

  .book h5 {
    margin-top: 0.4rem;
  }
}
